telegram2email.json
[{"id":"28efdd47.af8742","type":"telegram receiver","z":"d6181cd7.5fd6","name":"@botnamebot","bot":"","saveDataDir":"","x":116.01734924316406,"y":128.0104217529297,"wires":[["2a3d9ebf.694f92","c06ace91.d73e8","17243bdb.fab334"],[]]},{"id":"2a3d9ebf.694f92","type":"debug","z":"d6181cd7.5fd6","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":403.0173873901367,"y":206.01045083999634,"wires":[]},{"id":"5fe1aabb.07ee94","type":"e-mail","z":"d6181cd7.5fd6","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"email@address.com","dname":"email@address.com","x":1113.017333984375,"y":129.01043796539307,"wires":[]},{"id":"5c602a54.1be924","type":"function","z":"d6181cd7.5fd6","name":"Compose email","func":"// Compose Subject\nif (!msg.originalMessage.chat.title) {\n    msg.topic = 'TG-'+msg.originalMessage.from.first_name\n} else {\n    msg.topic = 'TG-'+msg.originalMessage.chat.title\n}\n\n//Compose Main\nmsg.payload = msg.payload.html\n\nreturn msg;\n","outputs":1,"noerr":0,"x":871.017333984375,"y":128.01041316986084,"wires":[["5fe1aabb.07ee94"]]},{"id":"a6cc874a.f34058","type":"template","z":"d6181cd7.5fd6","name":"Text","field":"payload.html","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>  \n  <head>\n  </head>\n  <body>\n    <p>{{originalMessage.from.first_name}}: {{payload.content}}</p>\n  </body>\n</html>  ","output":"str","x":643.0173454284668,"y":99.0104112625122,"wires":[["5c602a54.1be924"]]},{"id":"17243bdb.fab334","type":"switch","z":"d6181cd7.5fd6","name":"MessageType","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"message","vt":"str"},{"t":"neq","v":"message","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":420.0174369812012,"y":123.01042652130127,"wires":[["a6cc874a.f34058"],["dee7d6de.3f7d98"]]},{"id":"dee7d6de.3f7d98","type":"template","z":"d6181cd7.5fd6","name":"Image","field":"payload.html","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>  \n  <head>\n  </head>\n  <body>\n    <p>{{originalMessage.from.first_name}}: {{payload.caption}} </p>\n    <img src={{payload.weblink}} alt=\"Imatge\">\n  </body>\n</html>  ","output":"str","x":643.0173454284668,"y":159.0104112625122,"wires":[["5c602a54.1be924"]]},{"id":"c06ace91.d73e8","type":"debug","z":"d6181cd7.5fd6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"originalMessage","targetType":"msg","x":451.0174217224121,"y":265.0104646682739,"wires":[]}]